.jumbotron{
    background-color: rgb(39, 173, 226);
}
.navbar{
    background-color: #356de7;
}

.footer{
    background-color: #356de7;
}
.carousel-caption{
    background-color: rgba(0, 139, 81, 0.473);
}
.producto{
    background-color: #119fb86c;
}

